<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {% block head %}
    {% endblock %}
</head>
<body class="d-flex h-100 text-center text-bg-dark">
    <div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">

              <div class="float-md-start">
                  <a href="{{ url_for('index') }}">
                    <img alt="Osiris" class="logo" src="{{ url_for('static', filename='img/Logo_blanco.svg') }}">
                  </a>
              </div>
                <div class="">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('organism') }}">Organisms</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('index') }}">Out Destinations</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="content">
            <div class="box">
                {% block box %}
                {% endblock %}
            </div>
        </div>
        <footer class="footer ">
            <div class="container ">
                <p>Osiris - 2023 &copy;</p>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
