<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"/>
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        <div id="logo">
            <!--<img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo"/>-->
            <h1>Web site with flask</h1>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Index</a></li>
        </ul>
    </nav>

    <div id="content">
        <div class="box">
            {% block box %}
            {% endblock %}
        </div>
    </div>
    <footer>
        Osiris - 2023 &copy;
    </footer>
</body>
</html>